[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/SDURLCache"]
	path = Submodules/SDURLCache
	url = https://github.com/rs/SDURLCache.git
[submodule "Submodules/IGFormViewController"]
	path = Submodules/IGFormViewController
	url = https://github.com/TheInfiniteKind/IGFormViewController.git
[submodule "Submodules/TUSafariActivity"]
	path = Submodules/TUSafariActivity
	url = https://github.com/davbeck/TUSafariActivity.git
[submodule "Submodules/MGSplitViewController"]
	path = Submodules/MGSplitViewController
	url = https://github.com/TheInfiniteKind/MGSplitViewController.git
