<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entries</key>
	<array>
		<dict>
			<key>title</key>
			<string>Top News</string>
			<key>image</key>
			<string>tn.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Chicago Bears</string>
			<key>image</key>
			<string>cb.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Hacker News</string>
			<key>image</key>
			<string>hn.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br1.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>US Weekly</string>
			<key>image</key>
			<string>us.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pitchfork</string>
			<key>image</key>
			<string>pf.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br3.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br4.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br5.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Bleacher Report</string>
			<key>image</key>
			<string>br6.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Fox News</string>
			<key>image</key>
			<string>fn.png</string>
		</dict>
	</array>
</dict>
</plist>
